*{
	margin:0px;
	padding:0px;
}

.bgimage{
	background-image: url('tt.jpg');
	background-size: 100% 110%;
	width: 100%;
	height: 100vh;
}

.menu{

	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
}

.leftmenu{
	width: 20%;
	line-height: 100px;
	float: left;
}

.logo
{
    float: left;
}
.logo img
{
    padding-left: 60px;
    height: 100px;
    width: 100px;
    opacity:0.8;
    
}


.rightmenu{
	width:70%;
	color:#fff;
	height: 100px;
	float: right;
}

.rightmenu ul{
	margin-left: 200px;
}


li a
{
    color: black;
    text-decoration: none;
    
}


.rightmenu ul li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color:white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;

}


.rightmenu ul li a:hover{
	color: orange;
}


.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color:white;
}

.text h4{

	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.text h1{
	font-size:62px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	margin:14px 0px;
}

.text h3{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}



/*--------------------------------------------------------studentlogin--------------------------------------------------------*/
.log_img
{
    height: 550px;
    width: 1350px;
  
   background-image: url("img.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.log_box
{
    height: 400px;
    width: 450;
    background-color:#4e87bb;
    margin: 20px auto;
    opacity: .6;
    color:  #fffdfd;
}
form .login
{
    margin: auto 70px ;

}
input
{
    height: 30px;
    width: 300px;
}
button
{
    height: 30px;
    width: 90px;
}
.log_button
{
    margin: auto 120px;
}
/*--------------------------------------------------------REGISTRATION FORM-------------------------------------*/
.REG_img
{
    height: 590px;
    width: 1360px;
  
   background-image: url("img.jpg");
 
}
.reg_box
{
    height: 500px;
    width: 450;
    background-color: #9a7b5f;
    margin: 20px auto;
    opacity: .6;
    color:  #fffdfd;
    
}

